<!DOCTYPE html>
html(lang="en")
	include components/head.pug
	body
		main
			include components/banner.pug
			include components/information.pug
			include components/projects.pug
			include components/projects2.pug



