header.banner
	.banner-container
		.container-left
			h1.container-left__title ExertDesing
			p.container-left__text Porttitor mollisar lorem, at molestie arcu pulvinar ut. Proin ac fermentum est Lorem ipsum dolor, sit amet consectetur adipisicing elit. A et mollitia tempore harum officia officiis ut quisquam sunt ipsum tenetur, numquam eveniet, optio pariatur deserunt id quo veniam autem adipisci.
			a.container-left__button(href="#") LEARN MORE