include global.pug
section.information
	.information__container
		h2.information__title INTEGER PORTTITOR MOLLISAR
		p.information__text Nulla pellentesque mi non laoreet eleifend. Integer porttitor mollisar lorem, at molestie arcu pulvinar ut. Proin ac fermentum est. Cras mi ipsum, consectetur ac ipsum Lorem ipsum, dolor sit amet consectetur adipisicing elit. Omnis sed vero perspiciatis aperiam et doloribus, ad quisquam assumenda exercitationem eum dolore odit blanditiis eligendi rem, adipisci iste? Sapiente, tempora ad! Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus vel sapiente quis cupiditate totam consequuntur voluptate, culpa nesciunt alias odit corporis quo beatae, dolore earum placeat harum expedita dicta quidem!
		.information__icons
			+circle-icons('fas fa-cog')
			+circle-icons('fas fa-code')
			+circle-icons('fas fa-sticky-note')