include global.pug
section.projects
  .projects__container
    +project("INTEGER PORTTITOR MOLLISAR LOREM, AT MOLESTIE","Nulla pellentesque mi non laoreet eleifend. Integer porttitor mollisar lorem, at molestie arcu pulvinar ut. Proin ac fermentum est.","one")
    +project("INTEGER PORTTITOR MOLLISAR LOREM, AT MOLESTIE","Nulla pellentesque mi non laoreet eleifend. Integer porttitor mollisar lorem, at molestie arcu pulvinar ut. Proin ac fermentum est.","two")
    +project("INTEGER PORTTITOR MOLLISAR LOREM, AT MOLESTIE","Nulla pellentesque mi non laoreet eleifend. Integer porttitor mollisar lorem, at molestie arcu pulvinar ut. Proin ac fermentum est.","three")