include global.pug
section.projects2
  .projects2__container
    h2 INTEGER PORTTITOR MOLLISAR
    p Nulla pellentesque mi non laoreet eleifend. Integer porttitor mollisar lorem, at molestie arcu pulvinar ut. Proin ac fermentum est. Cras mi ipsum, consectetur ac ipsum
    .project2__container-cards
      +project2("far fa-bell","INAGITTIS LACG","Quisque Sagittis Lacus Eu Lorem Sodalesd Vulputate Velitdipisc Inagittis Lacg Enean Adipiscing.")
      +project2("far fa-bell","INAGITTIS LACG","Quisque Sagittis Lacus Eu Lorem Sodalesd Vulputate Velitdipisc Inagittis Lacg Enean Adipiscing.")
      +project2("far fa-bell","INAGITTIS LACG","Quisque Sagittis Lacus Eu Lorem Sodalesd Vulputate Velitdipisc Inagittis Lacg Enean Adipiscing.")
      +project2("far fa-bell","INAGITTIS LACG","Quisque Sagittis Lacus Eu Lorem Sodalesd Vulputate Velitdipisc Inagittis Lacg Enean Adipiscing.")
      +project2("far fa-bell","INAGITTIS LACG","Quisque Sagittis Lacus Eu Lorem Sodalesd Vulputate Velitdipisc Inagittis Lacg Enean Adipiscing.")
      +project2("far fa-bell","INAGITTIS LACG","Quisque Sagittis Lacus Eu Lorem Sodalesd Vulputate Velitdipisc Inagittis Lacg Enean Adipiscing.")